div#kt_header\ w-100 {
  flex: 1;
  height: 100vh;
  .kt-header-inside {
    flex: 1;

    div#kt_header_container {
      flex: 1 1;
      /*   box-shadow: 1px 1px 3px #afafaf; */
    }
    h1 {
      color: #2d2d2d !important;
    }
    .d-flex.float-right {
      color: gray;
      a {
        background-color: #ffedd9 !important;
        &:hover {
          background-color: #ffe5c7 !important;
        }
      }
    }
  }
}

div#kt_content {
  padding-top: 20px;
  background-color: #f6f6f6;
}
.card .card-body {
  padding: 0px;
  width: 100%;
}
.calendar {
  padding: 40px;

  span {
    button {
      border-radius: 0;
      padding: 11px 13px;
      border: none;
      background-color: #f7f7f7;
      font-size: 15px;
      &:active,
      &.rbc-active {
        box-shadow: none;
        background-color: #e8e8e8;
      }
    }
  }
  .rbc-month-view {
    border-radius: 4px;
    border: 1px solid #f1f1f1;
  }
  .rbc-header {
    padding: 14px 3px;
  }
  .rbc-day-bg + .rbc-day-bg {
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
  }
}
.btnSub {
  color: #1a4489 !important;
  outline: 0 !important;
  background-color: #f0f8ff !important;
  &:hover {
    background-color: #badfff !important;
  }
}

.btnAdd {
  color: #1a4489 !important;
  outline: 0 !important;
  background-color: #badfff !important;
  &:hover {
    background-color: #f0f8ff !important;
  }
}
.card-body{
  table{
    thead.theadEmp {
      color: #5d5d5d;
    } 
  }

}

.about-modal {
  max-width: 70%;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: relative;
  height: 80%;

  .modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(#fff, 0.8);
}
form#kt_modal_add_user_form {
  overflow-x: scroll;
  height: 500px;
}


@media (min-width: 992px) {
  .aside-secondary-enabled.aside-fixed.wrapper.d-flex.flex-column.flex-row-fluid.open {
    transition: width 0.5s;
    padding-left: 200px;
  }
  .aside-secondary-enabled.aside-fixed.wrapper.d-flex.flex-column.flex-row-fluid.close {
    padding-left: 80px;
    transition: width 0.5s;
  }
  .card-body{
    overflow-y: scroll !important;
  }
 

}
@media (max-width: 992px) {

  
}

@media (min-width: 1400px) {
  .container.container-lg.container-md.container-sm.container-xl.container-xxl {
    max-width: 100% !important;
  }
  .aside-primary.d-flex.flex-column.align-items-lg-center.flex-row-auto.mx-100 {
    display: none;
  }
}
