@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
div#kt_aside {
  width: max-content;
  height: 100vh;
  position: relative;
  padding-right: 30px;
  box-shadow: 1px 0px 3px #afafaf;

  span {
    &::before{
        content: url('../../assets/media/icons/duotune/SidebarIcons/icons8-home-page-64.png');
        width: 10px;
        height: 10px;   
    }  
  
    
   
  }
  p {
    font-size: 15px;
    margin: 14px 14px;
    color: rgb(111, 111, 111) !important;
   
  }
}
 
div#kt_aside_footer {
  position: absolute;
  bottom: 0;
}
